.DS_Store
Thumbs.db

# pyenv version file
.python-version

# Python
*.py[co]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
deb_dist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo

# Editor Settings
.vscode/
